# =========================
# ENVIRONMENT
# =========================
ENV=prod

# =========================
# AWS CONFIG
# =========================
AWS_DEFAULT_REGION=ap-south-1

# =========================
# S3 CONFIG
# =========================
S3_BUCKET=sentio-mind-storage

# =========================
# LOGGING
# =========================
LOG_LEVEL=INFO

# =========================
# PERFORMANCE
# =========================
USE_GPU=false
BATCH_SIZE=8